<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

<p>
Splurty was built by <a target="_blank href="https://github.com/camerondobbins06"> Cameron Dobbins</a> , a web developer from Southern California
</p>
<br />
<p>
 This app was designed to provide biblical encouragement, exhortation, discernemnt, and wisdom. I pray you will find Splurty resourceful. 
</p>

<div class="col-xs-12 col-sm-4">
 <%= image_tag 'cameron.jpg', class: 'img-responsive' %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offest-1">
<h2 class="text-center">Cameron Dobbins</h2>
<br />
<p>
	Cameron is a disciple of Christ, husband to Roanna, father to his daughter Selah and his son Cameron Jr.
</div>	


<br class="clear" />

<br />

<br />

<br />

<br />